<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <h1 class="text-center">Edit Cohort</h1>
    <br>
    <form method="POST" action="/cohorts/<%= cohort.id %> ">
        <input type="hidden" name="_method" value="PATCH">
        <div class="form-group">
            <label for="logoUrl">Logo Url</label>
            <input type="url" name="logoUrl" class="form-control" value="<%= cohort.logoUrl %> ">
        </div>
        <div class="form-group">
            <label for="name">Cohort Name</label>
            <input type="text" name="name" class="form-control" value="<%= cohort.name %> ">
        </div>
        <div class="form-group">
            <label for="members">Cohort Members</label>
            <input type="text" name="members" class="form-control" value="<%= cohort.members %> ">
        </div>
        <div class="text-right">
            <input type="submit" class="btn btn-outline-success" value="Submit" />
        </div>
    </form>
</div>


<%- include('../partials/footer.ejs') %>