<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="post-card">
        <% for(let cohort of cohorts) { %>
        <div class="card mb-4">
            <div class="card body">
                <div>
                    <img src="<%= cohort.logoUrl %>" class="rounded float-left" alt="half life logo" width="10%" style="margin: 1rem;">
                    <p class="card-title" style="font-size: 4rem;"><%= cohort.name %> </p>
                </div>
                    <p class="card-text" style="font-size: 2rem; margin: 1rem;"><%= cohort.members %> </p>
            </div>
            <a href="/cohorts/<%= cohort.id %>">
                <p  class="btn btn-primary" style="margin: 1rem; font-size: 1.5rem;">Show Cohort</p>
            </a>
        </div>
        <% } %>
    </div>
</div>
<%- include('../partials/footer.ejs') %>