<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="card body">
        <div>
            <img src="<%= cohort.logoUrl %>" class="rounded float-left" alt="half life logo" width="10%"
                style="margin: 2%;">
            <p class="card-title" style="font-size: 4rem;"><%= cohort.name %> </p>
        </div>
        <div class="card-text">
            <p style="margin: 1rem; font-size: 2rem;"><%= cohort.members %> </p>
        </div>
        <div class="d-flex" style="margin: 1rem;">
            <a href="/cohorts/<%= cohort.id %>/edit" class="btn btn-outline-success mr-2">Edit</a>
            <form method="POST" action="/cohorts/<%= cohort.id %>">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" class="btn btn-outline-danger" value="Delete" />
            </form>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <form action="/cohorts/<%= cohort.id %>">
        <h3>Method</h3>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="teamSplit" id="teamSplit1" value="teamCount" checked>
            <label class="form-check-label" for="teamSplit1">
                Team Count
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="teamSplit" id="teamSplit2" value="numPerTeam">
            <label class="form-check-label" for="teamSplit2">
                Number Per Team
            </label>
        </div>
        <br>
        <div class="form-group">
            <h3>Quantity</h3>
            <label for="quantity"></label>
            <input type="number" name="quantity" id="quantity">
        </div>
        <input type="submit" class="btn btn-outline-primary btn-block" value="Assign Teams" />
    </form>


    <% if(obj) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
            <% Object.keys(obj).forEach((key, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <% let teamArray = obj[key] %> 
                <% let dispalyTeam = teamArray.join(", ") %>  
                <td><%= dispalyTeam %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>

    <%- include('../partials/footer.ejs') %>